i {
  margin-right: 5px;
}

.profileImage {
  width: 64px;
  height: 64px;
  border-radius: 10%;
  background: hsl(217, 71%, 53%);
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin: 5px 0;
}
