<form [formGroup]="vacancyForm">

  <div class="">
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input class="input" placeholder="Nome da vaga" type="text" formControlName="name" required autocomplete="off"
          [ngClass]="{'is-danger': isInvalid('name')}">
      </div>
      <p class="help is-danger" *ngIf="isInvalid('name')">Nome é inválido</p>
    </div>

    <div class="field">
      <label class="label">Remoto?</label>
      <div class="control">
        <input id="remote" type="checkbox" class="switch" formControlName="remote" (change)="changeRemote()">
        <label for="remote">Essa vaga aceita trabalho remoto?</label>
      </div>
    </div>

    <div class="field" *ngIf="showLocation">
      <label class="label">Localização</label>
      <div class="control">
        <input class="input" placeholder="Localização" type="text" formControlName="location" autocomplete="off"
          [ngClass]="{'is-danger': isInvalid('location')}">
      </div>
      <p class="help is-danger" *ngIf="isInvalid('location')">Localização é inválida</p>
    </div>

    <div class="field" formGroupName="salary">
      <label class="label">Salário</label>
      <div class="field-body">
        <div class="field">
          <p class="control mt-2">
            <input class="is-checkradio" id="salary-specific" type="radio" name="salary-type"
              (change)="salaryType(true)" [checked]="isSpecificSalary">
            <label for="salary-specific">Salário especifico</label>
            <input class="is-checkradio" id="salary-range" type="radio" name="salary-type" (change)="salaryType(false)"
              [checked]="!isSpecificSalary">
            <label for="salary-range">Salário 'De' - 'Até'</label>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <input class="input" type="text" placeholder="R$ 123,45" formControlName="from" currencyMask
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}">
          </p>
        </div>
        <div class="field" *ngIf="!isSpecificSalary">
          <p class="control">
            <input class="input" type="text" placeholder="R$ 123,45" formControlName="to" currencyMask
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}">
          </p>
        </div>
        <div class="field">
          <p class="control mt-2">
            <input id="visible" type="checkbox" class="switch" formControlName="visible">
            <label class="mt-0" for="visible">O candidato pode ver?</label>
          </p>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Descrição</label>
      <div class="control">
        <textarea class="textarea" placeholder="Descrição" type="text" formControlName="description" required
          autocomplete="off" [ngClass]="{'is-danger': isInvalid('description')}" rows="4"></textarea>
      </div>
      <p class="help is-danger" *ngIf="isInvalid('description')">Descrição é inválida</p>
    </div>

    <app-skill-edit [skills]="getSkills()" (changed)="changeSkills($event)" editable="false" yearsVisible="false">
    </app-skill-edit>

    <div class="mt-4">
      <button type="button" class="button is-link w-150" [disabled]="!vacancyForm.valid"
        (click)="save()">Salvar</button>
      <button type="button" class="button is-light is-pulled-right w-150"
        [routerLink]="['/vacancies']">Cancelar</button>
    </div>

    <app-error-messages [messages]="messages" title="Erro ao se cadastrar"></app-error-messages>
  </div>
</form>

<div class="card mt-4">
  <header class="card-header">
    <p class="card-header-title">
      Aplicações para essa vaga
    </p>
  </header>
  <div class="card-content">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <th>Candidato</th>
        <th>Status</th>
        <th>Enviado em</th>
        <th>Atualizado em</th>
        <th>Erro</th>
        <th></th>
      </thead>
      <tbody class="is-size-7">
        <tr *ngFor="let application of applications$ | async">
          <td>
            <a
              [routerLink]="['/candidates/', application.candidate.id, 'candidate']"><strong>{{application.candidate.name}}</strong></a>
          </td>
          <td>
            <span [ngStyle]="{'color': getStatusColor(application)}">
              <b>{{application.statusText}}</b>
            </span>
          </td>
          <td>
            <span>
              {{application.sent | date:'dd/MM/yyyy HH:mm'}}
            </span>
          </td>
          <td>
            <span>
              {{application.updated | date:'dd/MM/yyyy HH:mm'}}
            </span>
          </td>
          <td>
            <a (click)="toggleModal()">
              {{application.error | sliceKeepLastWord:20}}
            </a>
            <div class="modal" [ngClass]="{'is-active': showErrorModal}">
              <div class="modal-background"></div>
              <div class="modal-content">
                <div class="notification">
                  {{application.error}}
                </div>
              </div>
              <button class="modal-close is-large" aria-label="close" (click)="toggleModal()"></button>
            </div>
          </td>
          <td>
            <div *ngIf="canTryAgain(application)">
              <button class="button is-link is-pulled-right is-small" (click)="sendAgain(application)">Reenviar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
