<form [formGroup]="changeForm" (ngSubmit)="send()">

  <div class="centralized-500">

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" placeholder="Email" name="email" type="email" formControlName="email" #email required autocomplete="off"
          [ngClass]="{'is-danger': isInvalid('email')}">
      </div>
      <p class="help is-danger" *ngIf="isInvalid('email')">Email é inválido</p>
    </div>

    <div class="field">
      <label class="label">Senha</label>
      <div class="control">
        <input class="input" placeholder="Senha" name="password" type="password" formControlName="password" #password autocomplete="off"
          required [ngClass]="{'is-danger': isInvalid('password')}">
      </div>
      <p class="help is-danger" *ngIf="isInvalid('password')">Senha é inválida</p>
    </div>

    <div class="field">
      <label class="label">Confirmação da Senha</label>
      <div class="control">
        <input class="input" placeholder="Confirmação da senha" name="confirmPassword" type="password" autocomplete="off"
          formControlName="confirmPassword" #confirmPassword required
          [ngClass]="{'is-danger': isInvalid('confirmPassword')}">
      </div>
      <p class="help is-danger" *ngIf="isInvalid('confirmPassword')">Confirmação da Senha e Senha devem ser iguais</p>
    </div>

    <div class="notification is-warning">
      A senha deve ter no mínimo 10 caracteres sendo que pelo menos 1 letra maiúscula, 1 letra minúscula, 1 número e 1
      caractere especial (!@&%#$ etc...)
    </div>

    <input class="button is-link w-150" type="submit" value="Mudar Senha" [disabled]="!changeForm.valid">
    <button class="button is-light is-pulled-right w-150" [routerLink]="['/']">Cancelar</button>

    <app-error-messages [messages]="messages" title="Erro ao se cadastrar"></app-error-messages>

  </div>
</form>
