<div class="buttons has-addons">
  <button class="button is-link w-150" [routerLink]="['/vacancies/adicionar']">Adicionar Vaga</button>
</div>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <th>Nome da vaga</th>
    <th>Descrição</th>
    <th>Skills</th>
  </thead>
  <tbody>
    <tr *ngFor="let vacancy of vacancies$ | async">
      <td>
        <a [routerLink]="['/vacancies/', vacancy.id, 'editar']"><strong>{{vacancy.name}}</strong></a>
      </td>
      <td>
        <span>{{vacancy.description | sliceKeepLastWord:50}}</span>
      </td>
      <td>
        <div class="tags">
          <span class="tag is-success" *ngFor="let skill of vacancy.skills.slice(0,4)">{{skill.name}}
          </span>
          <span *ngIf=" vacancy?.skills?.length > 4"><i class="fa fa-ellipsis-h"></i></span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
