<div class="buttons has-addons">
  <button class="button is-link w-150" [routerLink]="['/vacancies/adicionar']">Adicionar Vaga</button>
</div>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <th>Nome da vaga</th>
    <th>Descrição</th>
    <th>Localização</th>
    <th>Skills</th>
  </thead>
  <tbody>
    <tr *ngFor="let vacancy of vacancies$ | async">
      <td>
        <a [routerLink]="['/vacancies/', vacancy.id, 'editar']"><strong>{{vacancy.name}}</strong></a>
      </td>
      <td>
        <span>{{vacancy.description | sliceKeepLastWord:50}}</span>
      </td>
      <td>
        <span *ngIf="vacancy.remote">Remoto</span>
        <span>{{vacancy.location}}</span>
      </td>
      <td>
        <app-skill-edit [skills]="vacancy.skills.slice(0,4)" editable="false" removable="false" addable="false" yearsVisible="false" tagSize="are-small">
        </app-skill-edit>
      </td>
    </tr>
  </tbody>
</table>
