<form [formGroup]="candidateForm" (ngSubmit)="save()">

  <div class="centralized-500">
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input class="input" placeholder="Nome" name="name" type="text" formControlName="name" #name required autocomplete="off"
          [ngClass]="{'is-danger': isInvalid('name')}">
      </div>
      <p class="help is-danger" *ngIf="isInvalid('name')">Nome é inválido</p>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" placeholder="Email" name="email" type="email" formControlName="email" #email required
          autocomplete="off" [ngClass]="{'is-danger': isInvalid('email')}">
      </div>
      <p class="help is-danger" *ngIf="isInvalid('email')">Email é inválido</p>
    </div>

    <div class="mt-2">
      <input class="button is-link w-150" type="submit" value="Salvar" [disabled]="!candidateForm.valid">
      <button class="button is-light is-pulled-right w-150" [routerLink]="['/candidates']">Cancelar</button>
    </div>

    <app-error-messages [messages]="messages" title="Erro ao se cadastrar"></app-error-messages>
  </div>
</form>
