<div class="notification is-warning">

  <h1 class="is-size-3">Compartilhamento de perfil.</h1>

  <p class="mt-3">
    Obrigado pelo seu feedback. Sentimos muito pelo inconveniente.
  </p>

  <p class="mt-3">
    Não se preocupe, seus dados não serão compartilhados com o recrutador.
  </p>

  <p class="mt-3">
    Entendemos sua opção, mas gostaríamos de avisar que completar seu perfil ou aceitar participar de processo seletivos facilita e agiliza seu processo de seleção.
  </p>
  <p>
    Negar em completar seu perfil pode interferir no processo de seleção.
  </p>
  <p>
    Aguarde um novo contato do recrutador em breve.
  </p>

  <p class="mt-3">
    Você pode fechar essa janela.
  </p>

</div>
