<div class="columns">
  <div class="column is-three-quarters">
    <div class="card">
      <div class="card-content">
        <form [formGroup]="candidateForm" (ngSubmit)="save()">

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                  <input class="input" placeholder="Nome" type="text" formControlName="name" required autocomplete="off"
                    [ngClass]="{'is-danger': isInvalid('name')}">
                </div>
                <p class="help is-danger" *ngIf="isInvalid('name')">Nome é inválido</p>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" placeholder="Email" type="email" formControlName="email" required
                    autocomplete="off" [ngClass]="{'is-danger': isInvalid('email')}">
                </div>
                <p class="help is-danger" *ngIf="isInvalid('email')">Email é inválido</p>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Telefone</label>
                <div class="control">
                  <input class="input" placeholder="(55)-55555-5555" type="text" formControlName="phone" required mask="(00) 00000-0000"
                    autocomplete="off" [ngClass]="{'is-danger': isInvalid('phone')}">
                </div>
                <p class="help is-danger" *ngIf="isInvalid('phone')">Telefone é inválido</p>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Mora em</label>
                <div class="control">
                  <input class="input" placeholder="Mora em" type="text" formControlName="location" readonly>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Empresa atual</label>
                <div class="control">
                  <input class="input" placeholder="Empresa atual" type="text" formControlName="currentCompany" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Biografia</label>
            <div class="control">
              <textarea class="textarea" placeholder="Biografia" type="text" formControlName="bio" rows="2" readonly></textarea>
            </div>
          </div>

          <div class="mt-2">
            <input class="button is-link w-150" type="submit" value="Salvar" [disabled]="!candidateForm.valid">
            <button class="button is-light is-pulled-right w-150" [routerLink]="['/candidates']">Cancelar</button>
          </div>

          <app-error-messages [messages]="messages" title="Erro ao se cadastrar"></app-error-messages>
        </form>
      </div>
    </div>
    <div class="mt-2">
      <app-fill-profile-send [candidate]="candidate"></app-fill-profile-send>
    </div>
  </div>
  <div class="column">
    <app-candidate-actions *ngIf="candidate" [candidate]="candidate"></app-candidate-actions>
  </div>
</div>
