<div class="buttons has-addons">
  <button class="button is-link" [routerLink]="['/candidates/adicionar']">Adicionar Candidato</button>
</div>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <th>Perfil</th>
    <th>Nome do Candidato</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Mora em</th>
    <th>Última Atualização</th>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of candidates$ | async">
      <td>
        <a [routerLink]="['/candidates/', candidate.id, 'candidate', 'profile']"><strong>Perfil</strong></a>
      </td>
      <td>
        <a [routerLink]="['/candidates/', candidate.id, 'candidate']"><strong>{{candidate.name}}</strong></a>
      </td>
      <td>
        <span>
          {{candidate.email}}
        </span>
      </td>
      <td>
        <span>
          {{candidate.phone | mask: '(00) 00000-0000'}}
        </span>
      </td>
      <td>
        <span>
          {{candidate.location}}
        </span>
      </td>
      <td>
        <span *ngIf="candidate.lastUpdate; else noUpdate">{{candidate.lastUpdate| date:'dd/MM/yyyy HH:mm'}}</span>
        <ng-template #noUpdate>
          <span>Não atualizado</span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
