/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
// Import Bulma core
@import "bulma";
@import "~bulma-switch";
@import "~bulma-checkradio";

.is-clickable {
  cursor: pointer !important;
}

.w-150 {
  width: 150px;
}

.centralized-500 {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
