<div *ngIf="isAddable" class="field">
  <label class="label">Habilidades</label>
  <div class="field-body">
    <div class="field is-expanded">
      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input" placeholder="Habilidades" type="text" autocomplete="off" #skillName
            (keyup.enter)="addSkill(skillName)">
        </p>
        <p class="control">
          <button class="button is-link" type="button" title="Adicionar"
            (click)="addSkill(skillName)">Adicionar</button>
        </p>
      </div>
      <p class="help">Clique no botão ou Enter | Adicione várias separadas por <strong>,</strong> ou <strong>;</strong>
      </p>
    </div>
  </div>
</div>

<div class="field is-grouped is-grouped-multiline tags" [class]="tagSize">
  <div class="control ml-2" *ngFor="let skill of skills">
    <div class="tags has-addons">
      <span *ngIf="isEditable" class="tag is-success is-clickable"><i class="fa fa-minus"
          (click)="change(skill, -1)"></i></span>
      <span class="ml--10 tag is-success ">{{skill.name}}<span *ngIf="showYears" class="ml-1 has-text-weight-bold"
          [ngClass]="{'mr--10': isEditable}">{{getYearsText(skill)}}</span> </span>
      <span *ngIf="isEditable" class="tag is-success is-clickable"><i class="fa fa-plus"
          (click)="change(skill, 1)"></i></span>
      <span *ngIf="isRemovable" class="tag is-delete is-clickable" (click)="remove(skill)"></span>
    </div>
  </div>
</div>
